<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="../css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,400|Work+Sans:300" rel="stylesheet")
    title Under construction 
  body
  main.main
  .container
    section.hero
      h1.hero__title Designed for people who aren't designers
      p.hero__subtitle This website is under construction.