.aside
  .aside__number 1
  .aside__content
    span.aside__content--subtitle Create
    h1.aside__content--title Get started fast with templates
    p.aside__content--text We have a full library of beautiful presentations you can customize to make your own.
    .aside__links
      a.aside__links--link(href="#") Marketing
      a.aside__links--link(href="#") Sales
      a.aside__links--link(href="#") Business
      a.aside__links--link(href="#") Education


