header.header
  .container
    .header__top
      .logo: img.logo__picture(src="../../assets/img/Logo.png", alt="logo", width="100px", height="100px")
      .header__top.section
        nav.nav
          a.nav__link.nav__link--active(href="#") About us
          a.nav__link(href="#") Intellectual services
          a.nav__link(href="#") News
          a.nav__link(href="#") Blog
          a.nav__link(href="#") Education
          a.nav__link(href="#") Partner
          a.nav__link(href="#") Career
          select.nav__link.select(name="lang select")
            option.select__item(value="en") EN
            option.select__item(value="fr") FR
        .burger
          .burger__line.line1
          .burger__line.line2
          .burger__line.line3


