header.header
  .container
    .header__top
      .logo: img.logo__picture(src="../../assets/img/Logo.png", alt="logo", width="100px", height="100px")
      .header__top.section
        nav.nav
          a.nav__link.nav__link--active(href="#") About us
          a.nav__link(href="coming-soon.html") Intellectual services
          a.nav__link(href="coming-soon.html") News
          a.nav__link.disabled-link(href="#") Blog
          a.nav__link.disabled-link(href="#") Education
          a.nav__link.disabled-link(href="#") Partner
          a.nav__link.disabled-link(href="#") Career
          .nav__link.language-switcher__container
            a.nav__link.language-switcher(href="#") EN
            .language-switcher |
            a.nav__link.language-switcher(href="#") FR

        .burger
          .burger__line.line1
          .burger__line.line2
          .burger__line.line3


