main.main
  .container
    section.hero
      h1.hero__title Designed for people who aren't designers
      h2.hero__subtitle Now creating, giving and tracking beautiful interactine presentations is as easy as 1, 2, 3
    section.chief-content
      .chief-content__first
        include slider
        include first-aside
      .chief-content__second
        include second-aside
        include video
      .chief-content__third
        include image-horizontal
        include third-aside


