.news-main--third
  .news-main__img--third
    img(src="../../assets/img/architecture-buildings.jpg", alt="")
  a.news-articles(href="#")
    .news-articles__container
      span.news-articles__container--subtitle Subtitle name
      h1.news-articles__container--title Title name
      span.news-articles__container--date Feb 28, 2018
      p.news-articles__container--text From better metrics and bond-market innovations to broader investor access, here are some of the key developments in sustainable investing.