.news-block
  .news-block--wrapper
    a.news-articles.third(href="#")
      .news-articles__container.third
        span.news-articles__container--subtitle Subtitle name
        h1.news-articles__container--title Title name
        span.news-articles__container--date Feb 28, 2018
        p.news-articles__container--text From better metrics and bond-market innovations to broader investor access, here are some of the key developments in sustainable investing.
    a.news-articles.third(href="#")
      .news-articles__container.third
        span.news-articles__container--subtitle Subtitle name
        h1.news-articles__container--title Title name
        span.news-articles__container--date Feb 28, 2018
        p.news-articles__container--text From better metrics and bond-market innovations to broader investor access, here are some of the key developments in sustainable investing.