.aside
  .aside__number 3
  .aside__content
    span.aside__content--subtitle Analyze
    h1.aside__content--title Track your success
    p.aside__content--text Know who's viewing, what they're interested in, and how to target your follow-up.
    a.button.button--yellow.button--text-uppercase Start project


